@font-face {
    font-family: "Legend M54";
    src: url("../assets/LegendM54.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@media screen and (max-width: 767px) {
.desktop { 
    display: none;
    }
.tablet { 
    display: none;
    }
.laptop { 
    display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1019px) {
.desktop { 
    display: none;
    }
.mobile { 
    display: none;
    }
.laptop { 
    display: none;
    }
}
@media screen and (min-width: 1020px) and (max-width: 1439px) {
.desktop { 
    display: none;
    }
.tablet { 
    display: none;
    }
.mobile { 
    display: none;
    }
}
@media screen and (min-width: 1440px) {
.tablet { 
    display: none;
    }
.mobile { 
    display: none;
    }
.laptop { 
    display: none;
    }
}


.desktop-title {
    position: absolute;
    width: 238px;
    height: 61px;
    left: calc(50% - 238px/2 - 481px);
    top: 116px;

    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.015em;

    color: #FFFFFF;
}

.desktop-content {
    position: absolute;
    width: 1200px;
    left: calc(50% - 1199.87px/2 - 0.07px);
    top: 250px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.desktop-leader {
    flex: none;
    margin: 0px 0px 40px 0px;
    padding: 40px;
    border-radius: 40px;
    background: #211F2A;
    vertical-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desktop-leader-image {
    width: 250px;
    height: 250px;
    left: 40px;
    top: 40px;

    border-radius: 27.7061px;
}

.desktop-leader-info {
    position: absolute;
    width: 830px;
    left: 330px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
}

.desktop-leader-name-linkedin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.desktop-leader-name {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 37.5186px;
    line-height: 46px;
    /* identical to box height */

    letter-spacing: 0.015em;

    color: #FFFFFF;
    margin: 0px;
}

.desktop-leader-linkedin {
    margin: 0px 0px 0px 11px;
    width: 22px;
    height: 22px;
}

.desktop-leader-title {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 25.8462px;
    line-height: 32px;
    /* identical to box height */
    
    letter-spacing: 0.015em;
    
    color: #FFFFFF;
    margin: 7px 0px 8px 0px;
}

.desktop-leader-bio {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
    
    color: #6C6C6C;
    margin: 0px;    
}

.laptop-title {
    position: absolute;
    width: 238px;
    height: 61px;
    left: calc(50% - 238px/2 - 341px);
    top: 116px;

    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.015em;

    color: #FFFFFF;
}

.laptop-content {
    position: absolute;
    width: 920px;
    left: calc(50% - 238px/2 - 341px);
    top: 250px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.laptop-leader {
    flex: none;
    margin: 0px 0px 40px 0px;
    padding: 40px;
    border-radius: 40px;
    background: #211F2A;
    vertical-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.laptop-leader-image {
    width: 250px;
    height: 250px;
    left: 40px;
    top: 40px;

    border-radius: 27.7061px;
}

.laptop-leader-info {
    position: absolute;
    width: 552px;
    left: 330px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
}

.laptop-leader-name-linkedin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.laptop-leader-name {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 37.5186px;
    line-height: 46px;
    /* identical to box height */

    letter-spacing: 0.015em;

    color: #FFFFFF;
    margin: 0px;
}

.laptop-leader-linkedin {
    margin: 0px 0px 0px 11px;
    width: 22px;
    height: 22px;
}

.laptop-leader-title {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 25.8462px;
    line-height: 32px;
    /* identical to box height */
    
    letter-spacing: 0.015em;
    
    color: #FFFFFF;
    margin: 7px 0px 8px 0px;
}

.laptop-leader-bio {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
    
    color: #6C6C6C;
    margin: 0px;    
}

.tablet-title {
    position: absolute;
    width: 238px;
    height: 61px;
    left: calc(50% - 238px/2 - 226px);
    top: 116px;

    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.015em;

    color: #FFFFFF;
}

.tablet-content {
    position: absolute;
    width: 688px;
    left: calc(50% - 238px/2 - 226px);
    top: 250px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.tablet-leader {
    flex: none;
    margin: 0px 0px 40px 0px;
    padding: 40px;
    border-radius: 40px;
    background: #211F2A;
    vertical-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tablet-leader-image {
    width: 250px;
    height: 250px;
    left: 40px;
    top: 40px;

    border-radius: 27.7061px;
}

.tablet-leader-info {
    position: absolute;
    width: 318px;
    left: 330px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
}

.tablet-leader-name-linkedin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.tablet-leader-name {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.015em;

    color: #FFFFFF;
    margin: 0px;
}

.tablet-leader-linkedin {
    margin: 0px 0px 0px 11px;
    width: 22px;
    height: 22px;
}

.tablet-leader-title {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.015em;
    
    color: #FFFFFF;
    margin: 7px 0px 9px 0px;
}

.tablet-leader-bio {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    
    color: #6C6C6C;
    margin: 0px;    
}

.mobile-title {
    position: absolute;
    width: 172px;
    height: 44px;
    left: calc(50% - 172px/2 - 54px);
    top: 124px;
    
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 44px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    
    color: #FFFFFF;    
}

.mobile-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 280px;
    left: calc(50% - 280px/2);
    top: 250px;
}
.mobile-leader {
    flex: none;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    border-radius: 20px;
    background: #211F2A;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobile-leader-image {
    width: 240px;
    height: 240px;
    left: 40px;
    top: 40px;

    border-radius: 20px;
    margin: 0px;
}

.mobile-leader-name {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 88%;
    /* or 28px */

    letter-spacing: 0.015em;

    color: #FFFFFF;
    margin: 10px 0px 5px 0px;
}

.mobile-leader-title {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height */
    
    letter-spacing: 0.015em;
    
    color: #FFFFFF;
    margin: 0px;
}

.mobile-leader-bio {
    font-family: Legend M54;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    
    color: #6C6C6C;
    margin: 5px 0px 0px 0px;
}